[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipdb = "*"

[packages]
django = "*"
python-decouple = "*"
django-compressor = "*"
django-compressor-toolkit = "*"
django-npm = "*"
requests = "*"
nltk = "*"
python-dateutil = "*"
click = "*"
unidecode = "*"
textblob = "*"
"html2text" = "*"
django-pandas = "*"

[requires]
python_version = "3.6"
