.ball-animation {
  position: absolute;
  z-index: map-get($z-index, ball-animation);
  top: 0;
  left: 0;

  display: none;

  width: 1px;
  height: 1px;

  animation: circle-scale cubic-bezier(.55,0,.1,1) .7s;

  border-radius: 50%;
  background-color: #FFF;

  &.-active {
    display: block;
  }

  &.-invertedbg {
    background-color: $color-purple;
  }

  &.-reverse {
    animation-direction: reverse;
  }

  @keyframes circle-scale {
    0% {
      transition: transform cubic-bezier(.55,0,.1,1) .7s;
      transform: translate(-50%, -50%) scale(0);
    }
    100% {
      transform: translate(-50%, -50%) scale(1200);
    }
  }
}
