.hexagon-group {
  cursor: pointer;
  // animation-name: floating;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

  @keyframes floating {
    from {
      transform: translate(0, 0) translateZ(0);
    }
    55% {
      transform: translate(.3%, .3%) translateZ(0);
    }
    to {
      transform: translate(0, 0) translateZ(0);
    }
  }

  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      animation-duration: (random(6) + 4)+s;
    }
  }
}
