.hex-grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  // & > .hex-wrapper > .hex:nth-child(odd) {
  //   margin-left: -150px;
  // }
  //
  // & > .hex-wrapper > .hex:nth-child(even) {
  //   margin-right: -150px;
  // }

  // & > .hex-wrapper > .hex:nth-child(2n+1) {
  //   margin-right: -150px;
  // }

  & > .hex-wrapper:nth-child(3n+1) {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }

  & > .hex-wrapper {
    padding: 0 5px;
    margin-bottom: -10px;
  }

  & > .hex-wrapper > .hex {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;

    width: 100px;
    height: 100px;
    padding: 30px;

    cursor: pointer;

    border-radius: 50%;
    background-color: #FFF;
  }

  & > .hex-wrapper > .hex * {
    color: #000;
  }

  & > .hex-wrapper > .hex > .header {
    font-size: 14px;
    font-weight: bold;

    display: flex;
    align-items: center;
  }

  & > .hex-wrapper > .hex > .header > .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  & > .hex-wrapper > .hex > .header > .icon {
    width: 27px;
    height: 27px;
    margin-right: 10px;

    background-image: url('../img/megaphone.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  & > .hex-wrapper > .hex > .header > .content > span {
    font-size: 12px;

    display: block;
  }

  & > .hex-wrapper > .hex > p {
    font-size: 10px;

    margin-top: 4px;
  }
}
