.nav-bar {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  justify-content: space-between;

  height: 55px;
  padding-right: 8vw;
  padding-left: 8vw;

  transition: transform cubic-bezier(.55,0,.1,1) .5s;

  color: #FFF;

  &.-article {
    position: fixed;
    z-index: 1;
    top: 0;

    box-sizing: border-box;
    width: 100%;

    background-color: rgba(#FFF, .92);
    box-shadow: 0 0 18px -5px rgba(#000, .3);
  }

  & > .logo.-hide {
    display: none;
  }

  & > .menu {
    flex: 0 0 auto;

    width: 44px;
    height: 44px;
    margin-right: -9px;

    cursor: pointer;

    background-image: url('../img/menu-white.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  & > .menu.-hide {
    display: none;
  }

  & a {
    text-decoration: none;
  }

  & > .info {
    display: flex;
    align-items: center;
  }

  & > .info.-hide {
    display: none;
  }

  & > .info > .back {
    position: relative;
    z-index: map-get($z-index, back);

    width: 44px;
    height: 44px;
    margin-right: 4px;
    margin-left: -11px;

    cursor: pointer;

    background-image: url('../img/arrow-white.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  & > .info > .back.-rotate {
    transform: rotate(-90deg);
  }

  & > .info > .breadcrumb {
    font-size: 16px;
    line-height: 1.25;

    display: flex;
    flex-direction: column;

    text-transform: uppercase;
  }

  & > .info > .breadcrumb > .title {
    font-size: 16px;
    font-weight: 500;
  }

  & > .info > .breadcrumb > .name {
    font-size: 11px;
    font-weight: 500;

    letter-spacing: 1px;
  }

  & > .filter {
    width: 44px;
    height: 44px;
    margin-left: -9px;

    cursor: pointer;

    background-image: url('../img/gear-white.svg');
    background-repeat: no-repeat;
    background-position: center;
  }


  & > .filter.-hide {
    display: none;
  }

  &.-negative {
    color: #000;

    & > .menu {
      background-image: url('../img/menu-black.svg');
    }

    & > .info > .back {
      background-image: url('../img/arrow-black.svg');
    }
  }
}
