.player-controls {
  position: relative;
  z-index: map-get($z-index, player-controls);

  display: flex;
  justify-content: center;

  margin: 0 10vw 15px 10vw;

  & > * + * {
    margin-left: 20px;
  }

  & > span {
    display: inline-block;

    width: 16px;
    height: 16px;
    padding: 10px;

    cursor: pointer;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }

  & > .play {
    background-image: url('../img/play.svg');
  }

  & > .stop {
    background-image: url('../img/stop.svg');
  }

  & > .pause {
    background-image: url('../img/pause.svg');
  }
}
