.range-slider {
  position: absolute;

  width: 100%;

  user-select: none;
  transition: opacity .7s .5s $swift-out, transform .6s .25s $swift-out, color 0s $swift-out;

  &.-hide {
    transition: opacity .3s 0s $swift-out, transform .6s 0s $swift-out, color .3s 0s $swift-out;
    transform: translateY(100%);

    opacity: 0;
    pointer-events: none;
  }

  // &.-negative {
  //   transition: opacity .7s .5s $swift-out, transform .6s .25s $swift-out, color 0s $swift-out;

  //   color: #000;

  //   &.-hide {
  //     transition: opacity .3s 0s $swift-out, transform .6s 0s $swift-out, color .3s 0s $swift-out;
  //   }
  // }
}
