.range-slider-wrapper {
  position: relative;
  height: 75px;
  margin: 0 10vw;
}

.range-slider {
  position: absolute;
  user-select: none;
  width: 100%;
  transition: opacity 0.7s 0.5s $swift-out, transform 0.6s 0.25s $swift-out;

  &.-hide {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s 0s $swift-out, transform 0.6s 0s $swift-out;
  }

  &.-negative {
    color: #000;
  }
}
