.text-box {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: auto;
  height: 100%;

  & > .text {
    font-size: 20px;
    font-weight: bold;

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: black;
  }
}
