{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<nav class="app-menu js-menu">
  <div class="nav">
    <a href="#" class="title">Menu</a>
    <div class="close js-close-menu"></div>
  </div>
  <div class="links">
    <a href="/">Início</a>
    <a href="/metodologia">Metodologias usadas</a>
  </div>
</nav>
<div class="nav-bar -negative -article">
  <button class="filter js-open-filter -hide" type="button"></button>
  <div class="info js-info">
    <a href="/" class="back js-back"></a>
    <div class="breadcrumb">
      <h1 class="title js-title">Sobre o Parla</h1>
      <h2 class="name js-name"></h2>
    </div>
  </div>
  <button class="menu js-open-menu" type="button"></button>
</div>

  <main>
    <article class="text-article">
      <iframe class="video" title="Vídeo sobre o Parla" class="video" src="https://www.youtube.com/embed/MyZt4CuT2fc?rel=0" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
      
      <div class="text">
        <h1>Conheça o Parla, o debate parlamentar como você nunca viu</h1>
        <h2>Os temas mais debatidos na Câmara dos Deputados</h1>

        <p>O Parla utiliza os discursos proferidos no Plenário da Câmara dos Deputados para mostrar quais foram os temas mais debatidos durante a legislatura. Como os Deputados expressam suas opiniões e defendem suas posições por meio de palavras, o Parla <a href="/metodologia">aplica metodologias</a> que utilizam a frequência dessas palavras e expressões no discurso parlamentar para mostrar quais foram os temas mais debatidos. O objetivo é fornecer um retrato fiel do que os seus representantes falaram na Casa de todos os brasileiros.</p>
        
        <p>Para garantir um retrato fiel do que fala cada Deputado, o Parla utiliza dois diferentes métodos de análise automatizada de discursos: o saco de palavras e o Naive Bayes/Decision Tree. Para melhor entender os resultados da ferramenta é preciso compreender um pouco como funcionam esses dois métodos. O saco de palavras mede apenas a frequência das palavras no discurso do Deputado. Para manter a importância da ordem das palavras no discurso, o Parla mostra apenas as expressões de uso mais frequente com duas ou três palavras. Já o Naive Bayes/Decision Tree é um método de aprendizado de máquina. O Parla utilizou 6.200 sentenças, classificadas manualmente pelos servidores da indexação de discursos, para aprender a identificar qual foi o tema mais debatido dentro de um conjunto pré-estabelecido de 31 temas.</p>
        
        <p>Outra opção é conhecer o que falam naturalmente os deputados, sem a interferência da agenda parlamentar ou do controle partidário. Para isso, o Parla disponibiliza um filtro que captura apenas os discursos de Pequeno e Grande Expediente, nos quais cada deputado é livre para debater sua própria agenda. Há também opções de separar os discursos por partido, por Estado ou por homens e mulheres. Assim, é possível conhecer o que falam apenas os deputados do seu Estado, ou comparar o que falam os deputados de diferentes partidos. </p>

        <p>O projeto foi desenvolvido em uma parceria entre o <a href="http://labhackercd.leg.br/">Laboratório Hacker</a> e o <a href="https://www2.camara.leg.br/a-camara/estruturaadm/diretorias/diretoria-legislativa/estrutura-1/detaq/departamento-taquigrafia">Departamento de Taquigrafia, Revisão e Redação</a> da Câmara dos Deputados.</p>
      </div>
    </article>
  </main>
  <div class="hex-bg -visible">
    <div class="element"></div>
    <div class="element"></div>
    <div class="element"></div>
    <div class="element"></div>
    <div class="element"></div>
  </div>
{% endblock content %}