<form class="filter-modal js-filter-form" action="/" method="GET">
  <div class="nav">
    <a href="#" class="title">Filtros</a>
    <div class="close"></div>
  </div>
  <div class="content">
    <label for="data">Algoritimos</label>
    <select name="algorithm" class="algorithm">
      <option value="unigram_bow" {% if request.GET.algorithm == 'unigram_bow' %}selected{% endif %}>Saco de Palavras - 1 Token</option>
      <option value="bigram_bow" {% if request.GET.algorithm == 'bigram_bow' %}selected{% endif %}>Saco de Palavras - 2 Tokens</option>
    </select>
    <button class="button">Aplicar filtros</button>
  </div>
</form>
