{% extends "base.html" %}


{% block content %}
  <main>
    <div class="hex-loading -visible js-loading">
      <svg class="js-loading-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 170.5 177" style="enable-background:new 0 0 170.5 177;" xml:space="preserve">
        <path d="M13.8,74.6L1.2,53.1c-0.3-0.5-0.3-1,0-1.5l12.5-21.5c0.9-1.6,2.7-2.6,4.6-2.6h22.9c1.9,0,3.6,1,4.6,2.6l11.4,19.6
          c1,1.6,1,3.7,0,5.3L45.9,74.6c-0.9,1.6-2.7,2.6-4.6,2.6H18.4C16.5,77.2,14.7,76.2,13.8,74.6z"/>
        <path d="M69.2,48.4L57.7,28.8c-1-1.6-1-3.7,0-5.3L70.3,2c0.3-0.5,0.7-0.7,1.3-0.7h27.3c0.5,0,1,0.3,1.3,0.7l12.5,21.5
          c1,1.6,1,3.7,0,5.3l-11.4,19.6c-0.9,1.6-2.7,2.6-4.6,2.6H73.7C71.9,51,70.1,50,69.2,48.4z"/>
        <path d="M124.5,84.6L113.1,65c-1-1.6-1-3.7,0-5.3l11.4-19.6c0.9-1.6,2.7-2.6,4.6-2.6H152c1.9,0,3.6,1,4.6,2.6L168,59.7
          c1,1.6,1,3.7,0,5.3l-11.4,19.6c-0.9,1.6-2.7,2.6-4.6,2.6h-22.9C127.2,87.2,125.5,86.2,124.5,84.6z"/>
        <path d="M124.5,146.9l-11.4-19.6c-1-1.6-1-3.7,0-5.3l11.4-19.6c0.9-1.6,2.7-2.6,4.6-2.6H152c1.9,0,3.6,1,4.6,2.6L168,122
          c1,1.6,1,3.7,0,5.3l-11.4,19.6c-0.9,1.6-2.7,2.6-4.6,2.6h-22.9C127.2,149.6,125.5,148.6,124.5,146.9z"/>
        <path d="M69.2,173.1l-11.4-19.6c-1-1.6-1-3.7,0-5.3l11.4-19.6c0.9-1.6,2.7-2.6,4.6-2.6h22.9c1.9,0,3.6,1,4.6,2.6l11.4,19.6
          c1,1.6,1,3.7,0,5.3l-11.4,19.6c-0.9,1.6-2.7,2.6-4.6,2.6H73.7C71.9,175.7,70.1,174.7,69.2,173.1z"/>
        <path d="M13.8,136.9L1.2,115.4c-0.3-0.5-0.3-1,0-1.5l12.5-21.5c0.9-1.6,2.7-2.6,4.6-2.6h22.9c1.9,0,3.6,1,4.6,2.6L57.3,112
          c1,1.6,1,3.7,0,5.3l-11.4,19.6c-0.9,1.6-2.7,2.6-4.6,2.6H18.4C16.5,139.6,14.7,138.6,13.8,136.9z"/>
        <path d="M69.2,110.7L57.7,91.2c-1-1.6-1-3.7,0-5.3l11.4-19.6c0.9-1.6,2.7-2.6,4.6-2.6h22.9c1.9,0,3.6,1,4.6,2.6l11.4,19.6
          c1,1.6,1,3.7,0,5.3l-11.4,19.6c-0.9,1.6-2.7,2.6-4.6,2.6H73.7C71.9,113.4,70.1,112.4,69.2,110.7z"/>
      </svg>
    </div>

    <svg class="_hidden">
      <symbol id="svg-circle" viewBox="0 0 100 100">
        <circle cx="1" cy="1" r="1"></circle>
      </symbol>
    </svg>

    <svg class="reveal-circle">
      <g class="js-circle-wrapper">
        <use class="circle js-circle" xlink:href="#svg-circle" width="100" height="100"></use>
      </g>
    </svg>

    <div class="hex-bg">
      <div class="element"></div>
      <div class="element"></div>
      <div class="element"></div>
      <div class="element"></div>
      <div class="element"></div>
    </div>
    <div class="wrapper">
      {% include "error-500.html" %}
      {% include "error-data.html" %}
    </div>

    <div class="date-filters">
      <div class="js-active-slider range-slider -hide">
        <div class="js-slider"></div>
      </div>

      <div class="js-inactive-slider range-selected -hide">
        <span class="label js-slider-min"></span>
        <a href="#" class="back js-back-word-chart">Voltar à tela inicial para alterar o filtro</a>
        <span class="label js-slider-max"></span>
      </div>

      <div class="range-player js-range-player -hide">
        <span class="label js-player-slider-min"></span>
        <input class="js-player" type="range" min="0" max="500" value="0">
        <span class="label js-player-slider-max"></span>
      </div>
    </div>

    <div class="player-controls js-player-controls">
      <button class="stop js-player-stop -hide"></button>
      <button class="pause js-player-pause -hide"></button>
      <button class="play js-player-play"></button>
    </div>
  </main>
{% endblock %}
