html {
  font-family: 'Roboto', sans-serif;

  width: 100%;
  height: 100%;

  color: #FFF;
}

body {
  position: relative;

  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  max-height: 100%;

  background-color: $color-purple;

  &.-invertedbg {
    background-color: #FFF;
  }

  &.-invertedbg .page-content.-active svg path {
    fill: $color-purple;
  }

  &.-invertedbg .text-box .text {
    color: #FFF;
  }
}

main {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;

  transition: mask-image .35s cubic-bezier(.55, 0, .1, 1);
}

svg g {
  transition: opacity .35s linear;

  opacity: 1;
}

input {
  font-family: 'Roboto', sans-serif;
}

.-highlight {
  padding: 2px 4px;
  padding-right: 0;

  cursor: pointer;
  transition: all .2s cubic-bezier(.19, .01, .03, 1.01);
  text-decoration: none;

  color: #FFF;
  background-color: $color-purple;
}

.speeches {
  min-height: 80vh;
  overflow: auto;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 45px, black calc(100% - 45px), rgba(0, 0, 0, 0) 100%);
}

.back._hidden {
  display: none;
}
