html {
  font-family: 'Roboto', sans-serif;

  overflow: hidden;

  width: 100%;
  height: 100%;

  color: #FFF;
}

body {
  position: relative;

  display: flex;
  overflow: hidden;
  flex-direction: column;

  width: 100%;
  height: 100%;
  max-height: 100%;

  background: $color-purple-dark;

  &.-invertedbg {
    background: #FFF;
  }

  &.-invertedbg .page-content.-active svg path {
    fill: $color-purple-dark;
  }

  &.-invertedbg .text-box .text {
    color: #FFF;
  }

  &.-animating,
  &.-processing {
    pointer-events: none;
  }

  &.-article {
    overflow-y: auto;
    overflow-y: overlay;
  }

  &.-moveright {
    & > main,
    & .nav-bar {
      transform: translateX(100%);

      @include bp-mediumup {
        transform: translateX(30rem);
      }
    }
  }

  &.-moveleft {
    & > main,
    & .nav-bar {
      transform: translateX(-100%);

      @include bp-mediumup {
        transform: translateX(-30rem);
      }
    }
  }
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;

  transition: transform cubic-bezier(.55,0,.1,1) .5s;
}

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;

  transition: mask-image .35s cubic-bezier(.55, 0, .1, 1);

  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 45px, black calc(100% - 45px), rgba(0, 0, 0, 0) 100%);
}

input {
  font-family: 'Roboto', sans-serif;
  &[type='checkbox'] {
    appearance: checkbox;
  }
}

.-highlight {
  padding: 2px 4px;

  transition: all .2s cubic-bezier(.19, .01, .03, 1.01);
  text-decoration: none;

  color: #FFF;
  background-color: $color-purple;
}

.speeches {
  display: flex;
  overflow: auto;
  align-items: center;
  flex-direction: column;
}

.back._hidden {
  display: none;
}
